<footer class="footer bg-dark text-white text-center text-lg-start">
    <section class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between p-3">
        <div class="me-1 d-none d-lg-block">
            <div class="text-center">
                Mohamed Monged جميع الحقوق محفوظة لدى © 2024
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="https://wa.me/+200155569422" class="me-4 text-reset" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://github.com/MohamedMongd" class="me-4 text-reset" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/mohamed-mongd/" class="me-4 text-reset" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:mmohammed3311@gmail.com" class="me-4 text-reset">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </section>
</footer>
