<div class="home">
    <div class="container">
        <h1 class="element" [@fadeIn]>
            <div class="background-text">مرحبًا</div>
            <h2 class="z"><span>Hello</span> <span class="rotate-emoji">👋</span></h2>
            I am <span class="highlight">Mohamed Monged</span>
            <span class="rotate-emoji">🤓</span>
        </h1>
        <p class="element" [@fadeIn]>
            <span class="text-pop-up-top">A </span><span class="highlighted-text">Junior</span> <span class="rotate-emoji">🤏</span> Frontend <span class="text-pop-up-top">Developer</span>
        </p>
    </div>
    <section>
        <div class="learning-text slide-in-elliptic-left-fwd">
            <h3>LEARNING, IMPROVING. FOREVER.</h3>
        </div>
        <div class="tech-icons slide-in-elliptic-left-fwd">
            <i class="fab fa-html5 fa-2x"></i>
            <i class="fab fa-css3-alt fa-2x"></i>
            <i class="fab fa-bootstrap fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
            <i class="fab fa-node fa-2x"></i>
            <i class="fab fa-angular fa-2x"></i>
            <i class="fab fa-git-alt fa-2x"></i>
        </div>
    </section>
    <div class="buttons"> 
        <button class="btn" [@fadeIn]><i class="fa-regular fa-file fa-xl"></i> Download CV</button>
        <a routerLink="/projects" class="btn projects-btn" [@fadeIn]>Projects <i class="fa-solid fa-share"></i></a>
    </div>
</div>
